<div class="nav">
    <div (click)="valor1 = true" class="abrirMenu change">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
        <div class="main-container">
            <nav *ngIf="valor1"  class="menu-hide menu-show">
                <ul>
                    <li> <a class="link__about" href="#about">sobre mi</a></li>
                    <li> <a id="link-port"href="#scroll-port">Portfolio</a></li>
                    <li> <a id="link-skills" href="#skills">skills</a></li>
                </ul>
                <div class="text_menu">
                    <p>¿Necesitas ayuda?, ponte en contacto conmigo, estaré encantado de poder ayudarte.</p>
                    <button id="btn-contacto" type="button">Contacto</button>
                </div>
            </nav>
        </div>
</div>
