$mainBckg: rgb(37, 38, 39);
$cleanWhite: rgb(255, 255, 255);
$codeGrey: rgb(94, 94, 94);
$strongPink: rgba(252, 8, 83, 1);
$lightTurquoise: rgba(8, 253, 216, 1);
$navGrey: rgb(67, 68, 68);
$plainBlack: rgb(0, 0, 0);

$title1: 'Montserrat';
$title2: 'Damion';

$abs: absolute;

